.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px 20px;

  @media screen and (max-width: 1200px){
    grid-template-columns: 1fr 1fr;
  }

  @media screen and (max-width: 786px){
    grid-template-columns: 1fr;
  }
}

.row {
  display: flex;
  gap: 20px;
}

.select {
  background-color: #032059;
  color: #F2EDE4;
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;

  &:focus {
    outline: #0367A6 2px solid;
  }
}
