.button {
  border: none;
  border-radius: 8px;
  cursor: pointer;
  user-select: none;
  padding: 10px 20px;
  background-color: #F29F05;
  color: #59110B;
  font-weight: 600;
  font-size: 20px;
  transition: background-color 0.7s;

  &:hover {
    background-color: #59110B;
    color: #F29F05;
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;

    &:hover {
      background-color: #F29F05;
      color: #59110B;
    }
  }
}
